name: Publish on main push

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Compose Data
        run: yarn && node scripts/composeData.js
      - name: Build Gatsby
        run: yarn build --prefix-paths
      - name: Gatsby Publish
        uses: enriikke/gatsby-gh-pages-action@v2.2.0
        with:
          access-token: ${{ secrets.GH_PAT }}
          branch: gh-pages
